<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <h1>Posts</h1>
</head>
<body>

<div th:replace="fragments :: menu"/>

<table>
    <div th:each="post : ${allPosts}">
        <div class="postarea">
            <b th:text="${post.userName}"></b>
            <b th:text="${post.publicationDate}"></b>
            <p th:text="${post.title}"></p>
            <p th:text="${post.description}"></p>
            <a th:href="@{/post/updatepost/{id} (id=${post.id})}" th:text="update"></a>
            <a th:href="@{/posts/delete/{id} (id=${post.id})}" th:text="delete"></a>
        </div>
        <br>
    </div>
</table>

</body>
<footer>

</footer>
</html>