<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User edit</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}">

</head>
<body>
<div th:replace="fragments :: menu"/>
<br><br>
<div><h3>User edit form:</h3></div>
<form class="editUserDetails" th:action="@{/correct_user}" method="post" th:object="${userEdited}" enctype="multipart/form-data">

    <input type="hidden" th:field="*{login}"/>

    <label for="email">Email: </label>
    <input type="text" id="email" th:field="*{username}">
    <br>
    <label for="password">Password: </label>
    <input type="password" id="password" th:field="*{password}">
    <br>
    <label for="displayName">Display Name: </label>
    <input type="text" id="displayName" th:field="*{displayName}" placeholder="display name">
    <br>
    <label for="description">Description: </label>
    <input type="text" id="description" th:field="*{description}">

    <br>
    <input type="date" th:field="*{createAccountDate}"/>
    <input type="hidden" th:field="*{status}" />
    <input type="hidden" th:field="*{typ}"/>


    <input type="submit" name="Save!">
</form>
</body>
</html>