<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form class="container" th:action="@{/entrycreator/addentry}" method="post" th:object="${newEntry}" enctype="multipart/form-data">
    <div class="row">
        <label >Title:</label>
        <input  type="text" th:field="*{title}"/>
    </div>
    <div class="row">
        <label >Description:</label>
        <input  type="text" th:field="*{description}"/>
    </div>



    <input type="submit" class="btn btn-primary col-12 row"/>
</form>

</body>
</html>
