<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <h1>Post details</h1>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}">

</head>
<body>

<div th:replace="fragments :: menu"/>

<a th:text="${post.title}"></a>
<a th:text="${post.description}"></a>
<div th:each="comment : ${comments}">
    <div>
        <b th:text="${comment.commentAuthor}"></b>
        <b th:text="${comment.commentDate}"></b>
        <b th:text="${comment.commentText}"></b>
        <a th:href="@{/comments/delete/{id} (id=${comment.id})}" th:text="delete_comment"></a>
    </div>
    <br>
</div>
<form class="container" th:action="@{/comment/savecomment}" method="post" th:object="${newComment}" enctype="multipart/form-data">
    <input type="hidden" th:value="${post.id}" th:attr="name='postID'"/>

    <div class="row">
        <label for="addcomment">Comment</label>
        <input id="addcomment" type="text" th:field="*{commentText}"/>
    </div>

    <input type="submit"/>
</form>

</body>
<footer>

</footer>
</html>