<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user account</title>
</head>
<body>
<div th:replace="fragments :: menu"/>
<br><br>
<div><h3>Enter your details</h3></div>
<form class="addNewUser" th:action="@{/new_user}" method="post" th:object="${newUser}" enctype="multipart/form-data">
    <br><br>
    <label for="username">Username: </label>
    <input type="text" id="username" th:field="*{username}">
    <br>
    <label for="login">Login: </label>
    <input type="text" id="login" th:field="*{login}">
    <br>
    <label for="password">Password: </label>
<input type="password" id="password" th:field="*{password}">
    <br>
    <label for="displayName">Display Name: </label>
    <input type="text" id="displayName" th:field="*{displayName}">
    <br>
    <label for="description">Description for your account - blog: </label>
    <input type="text" id="description" th:field="*{description}">
    <br>
    <label>Create Account Date is today.</label>

    <br>
    <input type="submit" value="Create">
</form>

</body>
</html>